.maintext{
    color: white;

}
.text{
    position: absolute;
width: 750px;
height: 200px;
left: 400px;
top: 300px;
text-align: left;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
}
.mail{
        color: white;
        position: absolute;
        top: 80vh;
        left: 100vh;
        font-size: 3.5rem;
        cursor: pointer;
        transition: all 0.7s ease;
    }
.mail-me{
    color: white;
}
.discord{
        color: white;
        position: absolute;
        top: 80vh;
        left: 120vh;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.7s ease;
}
.mail-text{
    font-size: 1rem;
}
.server-text{
    font-size: 1rem;
}
.discord-server{
    color: white;
}
.discord-server:hover{
    background-color: white;
    color:#23272A;
    font-size: 3.8rem;
    border-radius: 50%;
}
.mail-me:hover{
    background-color: white;
    color:#23272A;
    border-radius: 50%;
    font-size: 3.7rem;


}
.our-links{
    position: absolute;
    top: 70vh;
    left: 90vh;
    font-weight: bolder;

}